// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

/** TUDO  **/

*{
    font-family: 'Poppins', sans-serif;
    --cor-header: #0A0622;
    --cor-primaria: #191439;
    --cor-cinza: #8C8787;
    --cor-blue: #00121E;
    --cor-barra: #6D41B5;
    --cor-laranja: #F0B35B;
    --cor-laranja-escuro: #eba33e;
}

.orange{ color: var(--cor-laranja)};

p{
    margin: 0px;
    font-size: 16px;
}

h5{
    font-size: 18px;
}

h4{
    font-size: 24px;
}

h3{
    font-size: 28px;
}

h2{
    font-size: 34px;
}

h1{
    font-size: 40px;
}

.bold{
    font-weight: bold;
}

.botao{
    background-color: var(--cor-laranja);
    border: none;
    text-decoration: none;
    padding: 10px 60px;
}

.botao:hover{
    background-color: var(--cor-laranja-escuro);
}

  /** HEADER **/

#logo-header{
    width: 100px;
}
  
#nav-header{
    background-color: var(--cor-header);
    color: #FFFFFF;
}

#nav-header .botao{
    border-radius: 6px;
}

#menu{
    display: flex;
    gap: 10px;
    list-style: none;
    
}

#menu a{
    text-decoration: none;
}

.link{
    color: white;
    font-size: 18px;
    transition: all 300ms;
}

.link:hover{
    font-size: 20px;
    color: var(--cor-cinza);
}

/** BANNER **/
#o-banner{
    background-image: url('/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


/** SOBRE NOS **/
#foto-sobre{
    width: 50%;
}

#sobrenos{
    background-color: var(--cor-primaria);
}

#sobrenos h2{
    color: var(--cor-laranja);
}

#sobrenos p{color: white;}
#sobrenos .orange{color: var(--cor-laranja);}


@media (max-width: 870px){
    .deleteme{
        display: none;
    }
}